/* Olaf Willner, 2019 */

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  width: 100%;
  font-family: 'Proxima-Nova', sans-serif;
  /* overflow-x: hidden; */
  margin:0;
  padding:0;
}

a {
  text-decoration: none;
}

.header {
  width: 100%;
  float: none;
  display: block;
  background: #ffffff;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 10;
  visibility: visible;
}

.header-fade-in {
  width: 100%;
  height: 80px;
  float: none;
  display: block;
  background: #ffffff;
  box-shadow: 0 0 10px rgba(0,0,0,.05);
  margin-top: -100px;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  z-index: 999;
  display: none;
}

.header-inner {
  height: 90px;
  display: block;
  padding-left: 7%;
  padding-right: 7%;
  float: none;
  border: none;
}

.title {
  font-family: freight-display-pro, serif;
  font-weight: 600;
  font-style: normal;
  font-style: normal;
  background: transparent;
  float:left;
  color: #2d3436;
  font-size: 36px;
  padding-top: 23px;
  padding-bottom: 23px;
  height: 100%;
  position: relative;
}

.r-title {
  font-family: freight-display-pro, serif;
  font-weight: 600;
  font-style: normal;
  color: #2d3436;
  font-size: 26px;
}

.r-menu-title {
  font-family: freight-display-pro, serif;
  font-size: 26px;
  font-weight: 600;
  float: left;
  color: #fff;
  padding-left: 30%;
}

.r-open {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  float: right;
  background: transparent;
}

.close {
  padding-top: 26px;
  display: block;
  float: right;
}

.open {
  height: 30px;
  width: 30px;
  border: 0;
  outline: 0;
  padding: 0;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  float: right;
  z-index: 999;
}

.hamburger {
  background: #090832;
  position: absolute;
  transition: 0.5s;
  width: 26px;
  height: 2.5px;
  border-radius: 10px;
}

.hamburger:before {
  top: -8px;
}

.hamburger:after {
  top: 8px;
}

.hamburger-one:before {
  content: '';
  position:absolute;
  width: 26px;
  height: 2.5px;
  background:#090832;
  border-radius: 10px;
}

.hamburger-one:after {
  content: '';
  position:absolute;
  width: 26px;
  height: 2.5px;
  background:#090832;
  border-radius: 10px;
}

.r-title-wrapper {
  height: 100%;
  margin-right: 40%;
}

.nav-main {
  float: left;
}

.nav {
  height: 100%;
  box-sizing: border-box;
  position: relative;
  display: block;
  float: right;
}

.nav-title {
  font-style: normal;
  color: #000;
  font-size:16px;
  font-weight: 400;
  margin-left: 40px;
  padding-top: 40px;
  padding-bottom: 15px;
  height: auto;
  top: 0;
  bottom: 0;
  display: inline-block;
}

.nav-title:hover {
  color: #2d3436;
  -webkit-transition: color 0.15s ease-in-out;
  transition: color 0.15s ease-in-out;
}

.nav>a {
  display: inline-block;
  text-decoration: none;
	color: #000;
	position: relative;
}

.nav-title>a:after {
	content: "";
	position: fixed;
	height: 3px;
	background-color: #000000;
	width: 0;
	left: 50%;
	bottom: 0;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
	transform: translateX(-50%);
	-webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.nav>a:hover {
	color: #000000;
}

.nav-title>a:hover:after {
	width: 100%;
}

/* .contact-button {
  margin-top:28px;
  display:inline-block;
  color:#FFF;
  background-color:#171523;
  border:solid 1px #4c4c4c;
  font-size:12px;
  text-decoration:none;
  letter-spacing:1px;
  font-weight:600;
  padding:1em 2em;
  -webkit-transition:background-color .14s ease-out,color .14s ease-out;
  -moz-transition:background-color .14s ease-out,color .14s ease-out;
  -ms-transition:background-color .14s ease-out,color .14s ease-out;
  -o-transition:background-color .14s ease-out,color .14s ease-out;
  transition:background-color .14s ease-out,color .14s ease-out;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-style: normal;
  float: right;
  display: inline-block;
} */


.main {
  width: 100%;
  padding: 1px
}

.main-inner {
  margin-top: 10%;
  margin-bottom: 10%;
}

.main-img-wrapper {
  box-sizing: border-box;
  margin-top: 10%;
  left:0;
  right:0;
  height: 100%;
}

.main-img {
  width: 86%;
  height: 100%;
}

.text {
  font-family: freight-display-pro, serif;
  font-weight: 400;
  font-style: normal;
  color: #000;
  font-size: 26px;
  position: relative;
  margin-top: 0;
  text-align: center;
}

.footer {
  width: 100%;
  left: 0;
  bottom: 0;
  padding-bottom: 7%;
}

.footer-main {
  margin-left: 7%;
  margin-right: 7%;
  text-align: center;
}

.footer-label, .footer-first {
  font-family: freight-display-pro, serif;
  font-weight: 400;
  color: #000;
  font-size: 24px;
}

.footer-label {
  margin-left: 7%;
}

/* photography.html images layout */

.photography-main {
  margin-top: 5%;
  margin-bottom: 5%
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  left:0;
  right:0;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 50%;
  margin: 10px;
}

.column img {
  margin-top: 20px;
  vertical-align: middle;
  width: 100%;
}

@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

/* about page styling */

.about-text-title {
  font-weight: 500;
  font-size: 36px;
}

.about-text-bio {
  font-family: 'Proxima-Nova', sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #000;
  font-size: 20px;
  position: relative;
  margin-top: 0;
  text-align: left;
}

.text-link {
  color: #000;
  -webkit-transition: .2s ease-out;
}

.text-link:hover {
  background-color: #000;
  color: #fff;
}

.email-link {
  font-weight: 300;
  font-size: 20px;
  border-bottom: 1px solid #000;
}

/* Responsive Menu */

.r-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #161616;
  left:0;
  top:0;
  z-index: 999;
}

.r-menu-header {
  width: 100%;
  float: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.r-menu-header-inner {
    height: 90px;
    display: block;
    padding-left: 7%;
    padding-right: 7%;
    float: none;
}

.r-menu-nav {
  width: 100%;
  height: 100%;
  text-align: center;
}

.r-menu-nav-title {
  display: block;
  color: #fff;
  font-family: freight-display-pro, serif;
  font-size: 24px;
  font-weight: 400;
  margin-top: 50px;
}

/* Responsive */

@media only screen and (max-width: 800px) {

  .nav, .nav-title {
    display: none;
  }

  .text {
    font-size: 20px;
    text-align: center;
    margin-left:5%;
    margin-right: 5%;
  }

  .about-text-bio, .about-text-title, .email-link {
    margin-left:7%;
    margin-right:7%;
  }

  .about-text-bio, .email-link {
    font-size: 18px;
  }

  .about-text-title {
    font-size: 24px;
  }

  .title {
    display: none;
  }
  .r-title {
    display: visible;
  }
  .contact-button {
    display: none;
  }
  .team-headline {
    font-size: 32px;
  }
  .header-inner {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .main-inner {
    margin-top: 0px;
  }

  .main-img {
    padding-left: 7%;
    padding-right: 7%;
  }

  .row {
    align-items: center;
  }
}

@media only screen and (min-width: 800px) and (max-width: 1000px) {
  .nav-main {
    display: none;
  }
  .headline {
    font-size: 36px;
    text-align: left;
  }
  .text {
    font-size: 22px;
    text-align: left;
  }
  .poll-button {
    float: left;
  }
  .r-title {
    display: none;
  }
  .open {
    display: none;
  }
  .team-headline {
    font-size: 32px;
  }
  .main-inner {
    margin: 7%;
  }
}

@media only screen and (min-width: 1000px) {
  .headline {
    font-size: 42px;
  }
  .poll-button {
    float: left;
  }
  .r-title, .r-title-wrapper {
    display: none;
  }
  .open {
    display: none;
  }
  .team-headline {
    font-size: 45px;
  }
  .main-inner {
    margin-left: 7%;
    margin-right: 7%;
  }
  .r-open {
    display: none;
  }
}
